################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Food Manager/.vs/NestiApp/v16/Server/sqlite3/db.lock
