################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Food Manager/.vs/
/Food Manager/bin/
/Food Manager/obj/