################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Food Manager/.vs/
/Food Manager/bin/
/Food Manager/obj/
/Food Manager/Nesti/obj/Debug/netcoreapp2.1
/Food Manager/Nesti/obj
