<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nesti - Mealprep for you</title>

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="~/css/new-age.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" style="padding-right: 10px;">
                <img src="~/images/logo.png" style="width:50px;height:50px;">
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a></li>
            </ul>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />

    @RenderBody();

    <footer class="page-footer">
        <div class="container-fluid">
            <div class="row">&copy; 2019 Nesti. All rights reserved. </div>
        </div>



    </footer>

    @RenderSection("Scripts", required: false);
    <script type="text/javascript" src="~/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/scripts.js"></script>
</body>
</html>
